body {
    background: rgba(238, 227, 240, 0.541);
}

.card {
    width: 100%;
    float: horizontal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all .5s;
    padding: 1rem;
    box-shadow: 20px rgba(75, 74, 74, 0.05);
}

.card:hover {
    transform: scale(1.02);
}

.card-body {
    padding: 3 rem 0 !important;
}

.card-text {
    font-size: 0.9 rem;
    padding: 0.2rem 1.2rem;
}

.container-fluid.row {
    padding-top: 6rem;
}


/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/

.card-img-top {
    /*height: 11vw;*/
    object-fit: fill;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .card-img-top {
        height: 35vw;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .card-img-top {
        height: 30vw;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .card-img-top {
        height: 25vw;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .card-img-top {
        height: 20vw;
    }
}