@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
    font-family: "Raleway", sans-serif;
}

.question {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.questionBox {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
}

.answerBtn {
    position: relative;
    padding: 10px;
    /* 1 background-color:
        #40798c;
        */
    background-color: #37414a;
    margin: 10px;
    outline: none;
    border: none;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 5px 5px 2px rgb(184, 180, 180);
    cursor: pointer;
}

.score-board {
    position: relative;
    height: 700px;
}

.score {
    position: absolute;
    width: 1024px;
    font-size: 3em;
    top: 250px;
    text-align: center;
}

.playBtn {
    position: absolute;
    font-size: 1.4em;
    padding: 5px;
    top: 20rem;
    background-color: rgb(46, 182, 46);
    color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: none;
    outline: none;
    box-shadow: 10px 5px 5px rgb(184, 180, 180);
    cursor: pointer;
}