.container {
    display: inline-block;
    justify-content: center;
    width: 85%;
    background-color: white;
    border-radius: 0.5em;
    padding: 3em;
    margin-left: 1em;
    /*margin-right: 1em;*/
    width: 90%;
    height: 50%;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}