body {
    background: white;
}

.App {
    box-sizing: inherit;
}


/* background-color: rgb(192, 191, 192);8*/

.home {
    border: 0;
    margin: 0;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    /* background-color: #060e11#f0ffff;*/
}

.container {
    display: flex;
    align-items: center;
    flex-direction: right;
}

.country {
    display: flex;
    align-items: center;
    flex-direction: top;
    text-align: center;
}

@media only screen and (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .country {
        margin: 0 10%;
    }
    .image {
        width: 100%;
    }
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: /* #9575CD*/
    black;
    color: floralwhite;
}

.navbar-dark {
    background-color: rgb(219, 214, 214)/* #512DA8*/
    ;
}

.footer {
    /*background-color: #ccffcc; */
    top: 100%;
    margin-bottom: -50px;
    margin-right: -1.51rem;
    margin-left: -1.5rem;
    padding: 20px;
    border: none;
    background-color: #4b5153;
    color: #e4e4e7;
    /*background: linear-gradient(60deg, #414b4e 0%, #d3d8da 100%);*/
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.Aboutus,
.Resources,
.Credits {
    background-color: rgb(245, 239, 239);
    border-radius: 0px 50px;
}

.scrollTop {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 5rem;
    bottom: 10rem;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #2d95b4;
    color: white;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
}

.scrollTop:hover {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}