body {
<<<<<<< HEAD
    background-color: rgb(197, 47, 160);
}

.App {
    box-sizing: inherit;
}


/* background-color: rgb(192, 191, 192);8*/

.home {
    border: 0;
    margin: 0;
    padding: 30px;
    background: linear-gradient(rgb(255, 255, 255), rgb(135, 135, 236));
    box-sizing: border-box;
=======
    background-color: #060e11/*#f0ffff;*/
>>>>>>> 1c555558e0f84039ebd7b2f3f6367eba4e808139
}

.container {
    display: flex;
    align-items: center;
    flex-direction: right;
}

.country {
    display: flex;
    align-items: center;
    flex-direction: top;
    text-align: center;
}

@media only screen and (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .country {
        margin: 0 10%;
    }
    .image {
        width: 100%;
    }
}

<<<<<<< HEAD
=======
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: /* #9575CD*/
    black;
    color: floralwhite;
}

>>>>>>> 1c555558e0f84039ebd7b2f3f6367eba4e808139
.navbar-dark {
    background-color: rgb(229, 147, 147)/* #512DA8*/
    ;
}

.footer {
<<<<<<< HEAD
    background-color: black;
    color: white;
=======
    /*background-color: #ccffcc; */
>>>>>>> 1c555558e0f84039ebd7b2f3f6367eba4e808139
    margin-top: 5px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    top: 100%;
    background-color: #414b4e;
    background-image: linear-gradient(60deg, #414b4e 0%, #d3d8da 100%);
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}


/*
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}*/

.scroll-to-top {
    position: fixed;
    bottom: 12px;
    right: 10%;
    bottom: 10%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
<<<<<<< HEAD
    color: rgb(14, 13, 13);
=======
    background-color: #1f363d;
    /* green;*/
    color: white;
>>>>>>> 1c555558e0f84039ebd7b2f3f6367eba4e808139
    z-index: 1;
}

.scroll-to-top.icon {
    margin-top: 10px;
    animation: scrollTop 2.5s alternate ease;
}

@keyframes icon {
    from {
        transform: translateY(2px);
    }
    to {
        transform: translateY(-1px);
    }
}