/*  .staterow:nth-child(odd) {
      background-color: rgb(197, 137, 209);
      color: #fff;
      font-family: Arial;
  }*/

.search_option {
    border: none;
    border-radius: 2rem;
    width: 15rem;
    height: 2.5rem;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(158, 155, 155);
    transition: all .5s;
}

input {
    border: none;
    width: 10rem;
    height: 1.5rem;
    text-align: left;
    padding: 10px;
}

.search_option:hover {
    transform: scale(1.05);
}

input:focus {
    outline: none;
}

.staterow:nth-child(odd) {
    /* 1 background-color: #1e5c53 */
    background-color: #e7ebf0;
    /* green; */
    color: rgb(12, 12, 12);
    font-family: Arial;
}

.staterow:hover {
    /* 1 background-color: #1e5c53 */
    background-color: #7cbef8;
    /* green; */
    color: rgb(15, 15, 15);
    font-family: Arial;
}