<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - A Pen by piyushabharambe</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div>
        <h1 id="heading"> Helpline Numbers
            <h1>
    </div>

    <h2> Central Helpline Number-011-23978046</h2>
    <h1 id="sub"> State Wise Helpline Numbers</h1>

    <table id="myTable" cellSpacing="5" cellpadding="10">
        <tr>
            <th>Sr no</th>
            <th>State</th>
            <th>Helpline-number</th>
        </tr>
        <tr>
            <td>1</td>
            <td> Andhra Pradesh </td>
            <td> 0866-2410978 </td>
        </tr>
        <tr>
            <td>2</td>
            <td> Arunachal Pradesh </td>
            <td> 9436055743 </td>
        </tr>
        <tr>
            <td>3</td>
            <td> Assam </td>
            <td> 6913347770 </td>
        </tr>
        <tr>
            <td>4</td>
            <td> Bihar</td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>5</td>
            <td> Chhattisgarh </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>6</td>
            <td> Goa </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>7</td>
            <td> Gujarat </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>8</td>
            <td> Haryana </td>
            <td> 8558893911 </td>
        </tr>
        <tr>
            <td>9</td>
            <td> Himachal Pradesh </td>
            <td> 104</td>
        </tr>
        <tr>
            <td>10</td>
            <td> Jharkhand </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>11</td>
            <td> Karnataka </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>12</td>
            <td> Kerala </td>
            <td> 0471-2552056 </td>
        </tr>
        <tr>
            <td>13</td>
            <td> Madhya Pradesh </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>14</td>
            <td> Maharashtra </td>
            <td> 020-26127394 </td>
        </tr>
        <tr>
            <td>15</td>
            <td> Manipur </td>
            <td> 3852411668 </td>
        </tr>
        <tr>
            <td>16</td>
            <td> Meghalaya </td>
            <td> 108 </td>
        </tr>
        <tr>
            <td>17</td>
            <td> Mizoram </td>
            <td> 102 </td>
        </tr>
        <tr>
            <td>18</td>
            <td> Nagaland </td>
            <td> 7005539653 </td>
        </tr>
        <tr>
            <td>19</td>
            <td> Odisha </td>
            <td> 9439994859 </td>
        </tr>
        <tr>
            <td>20</td>
            <td> Punjab </td>
            <td> 104</td>
        </tr>
        <tr>
            <td>21</td>
            <td> Rajasthan </td>
            <td> 0141-225624 </td>
        </tr>
        <tr>
            <td>22</td>
            <td> Sikkim </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>23</td>
            <td> Tamil Nadu </td>
            <td> 044-2910500 </td>
        </tr>
        <tr>
            <td>24</td>
            <td> Telangana </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>25</td>
            <td> Tripura </td>
            <td> 0381-2315879 </td>
        </tr>
        <tr>
            <td>26</td>
            <td> Uttarakhand </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>27</td>
            <td> Uttar Pradesh </td>
            <td> 18001805145 </td>
        </tr>
        <tr>
            <td>28</td>
            <td> West Bengal </td>
            <td> 1800313444222,03323412600</td>
        </tr>
    </table>

    <h1 id="sub"> Union Territories Helpline Numbers</h1>
    <table id="myTable" cellspacing="5" cellpadding="10">
        <tr>
            <th> Sr no </th>
            <th> Union Territories</th>
            <th> Helpline-number</th>
        </tr>
        <tr>
            <td>1</td>
            <td> Andaman and Nicobar island </td>
            <td> 03192-23102 </td>
        </tr>
        <tr>
            <td>2</td>
            <td> Chandigarh </td>
            <td> 977955828 </td>
        </tr>
        <tr>
            <td>3</td>
            <td> Dadra and Nagar Haveli and Daman and Diu </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>4</td>
            <td> Delhi </td>
            <td> 011-22307145</td>
        </tr>
        <tr>
            <td>5</td>
            <td> Jammu and Kashmir</td>
            <td> 01912520982,0194-2440283 </td>
        </tr>
        <tr>
            <td>6</td>
            <td> Ladakh </td>
            <td> 01982256462 </td>
        </tr>
        <tr>
            <td>7</td>
            <td> Lakshadweep </td>
            <td> 104 </td>
        </tr>
        <tr>
            <td>8</td>
            <td> Punducheery </td>
            <td> 104 </td>
        </tr>
    </table>
    <h1 id="sub"> Mumbai Helpline Numbers</h1>
    <table id="myTable" cellspacing="5" cellpadding="10">
        <tr>
            <th> Sr no</th>
            <th> Ward </th>
            <th> Areas Included</th>
            <th> Helpline Number</th>
        </tr>
        <tr>
            <td>1</td>
            <td>A</td>
            <td>ChurchGate,Colaba,Navy-Nagar</td>
            <td>22700007</td>
        </tr>
        <tr>
            <td>2</td>
            <td>B</td>
            <td>Masjid Bandar,Mohammad Ali Road,Dongri,Bhendi Bazaar</td>
            <td>23794000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>C</td>
            <td>Pydhonie,Bhuleshwar,Mumbadevi</td>
            <td>22014000</td>
        </tr>
        <tr>
            <td>4</td>
            <td>D</td>
            <td>Grant Road,Valkeshwar,Breach Candy to Haji Ali</td>
            <td>23864000</td>
        </tr>
        <tr>
            <td>5</td>
            <td>E</td>
            <td>Byculla, Madanpura, Agripada, Nagpada, Dockyard / Ray Road, Chinchpokli, Mazgaon</td>
            <td>23014000</td>
        </tr>
        <tr>
            <td>6</td>
            <td>F South</td>
            <td>Parel, Lalbaug, Cottongreens, Shivri, Kalachawk</td>
            <td>24177507</td>
        </tr>
        <tr>
            <td>7</td>
            <td>F North</td>
            <td>Matunga, Sion, Wadala, Hindu Colony</td>
            <td>24084000</td>
        </tr>
        <tr>
            <td>8</td>
            <td>G Daskshin</td>
            <td>Prabhadevi, Lower Parel, Worli</td>
            <td>24224000
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td>G North</td>
            <td>Dharavi, Mahim, Dadar</td>
            <td> 24397888/24212778 </td>


        </tr>
        <tr>
            <td>10</td>
            <td>H East</td>
            <td>Bandra East, Khar, Santacruz</td>
            <td> 26114000
            </td>

        </tr>
        <tr>
            <td>11</td>
            <td>H West</td>
            <td>Bandra West, Khar Santacruz</td>
            <td> 26440121
            </td>

        </tr>
        <tr>
            <td>12</td>
            <td>East of</td>
            <td>Andheri East, Jogeshwari East, Vile Parle East</td>
            <td> 26847000 </td>

        </tr>
        <tr>
            <td>13</td>
            <td>West of</td>
            <td>Lokhandwala, Oshiwara, Versova, Andheri West, Jogeshwari West, Juhu, Vile Parle West
            </td>
            <td> 26208388 </td>

        </tr>
        <tr>
            <td>14</td>
            <td>P South</td>
            <td>Goregaon, Aarey Colony, Film City, Bangur Nagar, Upgraded Nagar</td>
            <td> 28780008 </td>

        </tr>
        <tr>
            <td>15</td>
            <td>P North</td>
            <td>Malad, Manori, Marve, Aksa, Marg</td>
            <td> 28440001 </td>

        </tr>
        <tr>
            <td>16</td>
            <td>R South</td>
            <td> Kandivali, Charkop</td>
            <td> 28054788 </td>

        </tr>
        <tr>
            <td>17</td>
            <td>R North</td>
            <td> Dahisar</td>
            <td> 28936000
            </td>

        </tr>
        <tr>
            <td>17</td>
            <td>R Madhya</td>
            <td> Borivali</td>
            <td>28931188 </td>

        </tr>
        <tr>
            <td>18</td>
            <td>L</td>
            <td> Sakinaka, Chandivali, Asulfa, Kurla</td>
            <td> 26505109 </td>

        </tr>
        <tr>
            <td>19</td>
            <td>M East</td>
            <td> Mankhurd Anushakkati Nagar, Bark, Deonar, Chita Camp, Shivaji Nagar, Govandi</td>
            <td> 25558789 </td>

        </tr>
        <tr>
            <td>20</td>
            <td>M West</td>
            <td> Chembur, Siddhi Society, Chheda Nagar, Tilak Nagar</td>
            <td> 25284000
            </td>

        </tr>
        <tr>
            <td>21</td>
            <td>N</td>
            <td> Ghatkopar, Vidyavihar, Pantnagar</td>
            <td> 25013000 </td>

        </tr>
        <tr>
            <td>22</td>
            <td>S</td>
            <td>Bhandup, Powai, Kanjurmarg, Vikhroli, Nahur</td>
            <td> 25954000 </td>

        </tr>
        <tr>
            <td>23</td>
            <td>T</td>
            <td>Mulund East and Mulund West</td>
            <td> 25694000 </td>

        </tr>
    </table>
    <!-- partial -->

</body>

</html>