body{
  background-color:#E8E8E8;
}
h1 {
  text-align:center;
  height:200px;
  line-height:200px;
  
}
h2{
  text-align:center;
  height:100px;
  line-height:100px;
 
}
div{
  border-radius:40px;
  height:200px;
  width:100%;
  text-align:center;
  line-height:200px;
  background-color:#4C9900;
  color:white;
  font-size:25px;
}
table{
  
  text-align:center;
  width:100%;
  font-size:20px;
  
}
tbody td{
  padding: 30px;
}

tbody tr:nth-child(odd){
  background-color: #4C9900;
  color: #fff;
}