.container {
    margin: 100px 0;
}

.card {
    margin: 2% !important;
}

.confirmed {
    border-bottom: 10px solid rgba(30, 31, 38, 0.8);
}

.active {
    border-bottom: 10px solid rgba(40, 54, 85, 0.8);
}

.recovered {
    border-bottom: 10px solid rgba(77, 100, 141, 0.8);
}

.deaths {
    border-bottom: 10px solid rgba(208, 150, 131, 0.5);
}